h1 {
    color: red;
    
}

.titulo {
    text-align: center;
    border: 5px solid red;
    background: black;
}

body {
    background-image: url(../assets/img/santuario.jpg)
}

.titulo2 {
    text-align: center;
    border: 5px solid red;
    background: black;
}

h2 {
    color: red;
}

.img {
    display: block;
    margin: 0 auto;
}

.parrafo {
    text-align: center;
    border: 5px solid red;
    background: black;
}

p {
    color: red;
}